<div class="card">
    <div class="card-header row">
        <div class="col-8">
            <p>Leeds, UK</p>
        </div>
        <div class="col-4 text-right">
            <h1>3&deg;</h1>
        </div>
    </div>
    <div class="card-block">
        <h1>0</h1>
        <p>Rain</p>
    </div>
    <div class="card-footer row">
        <div class="col-5">
            <p>Wind</p>
            <p>14mph</p>
        </div>
        <div class="col-5 offset-2">
            <p>Humidity</p>
            <p>80%</p>
        </div>
    </div>
</div>