<div class="card">
    <div class="card-header row">
        <div class="col-8">
            <p>{{ currentLocation }}</p>
        </div>
        <div class="col-4 text-right" (click)="toggleTempUnits()">
            <h1>{{ weatherData.temp | tempUnit: currentTempUnit | number: '.0-0' }}&deg;</h1>
        </div>
    </div>
    <div class="card-block">
        <h1>0</h1>
        <p>{{ weatherData.summary }}</p>
    </div>
    <div class="card-footer row">
        <div class="col-5" (click)="toggleSpeedUnits()">
            <p>Wind</p>
            <p>{{ weatherData.wind | speedUnit: currentSpeedUnit }}</p>
        </div>
        <div class="col-5 offset-2">
            <p>Humidity</p>
            <p>{{ weatherData.humidity | percent }}</p>
        </div>
    </div>
</div>